$width: 100;
$gutter: 10;
$columns: 12;

.wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 100px 0;
}
.cnt {
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter + px;
	padding-right: $gutter + px;
		.row {
			background-color: red;
			margin-left: -$gutter + px;
			margin-right: -$gutter + px;
			&:after {
				content: "";
				display: table;
				clear: both;
			}
			&>[class*="col-"] {
				position: relative;
				min-height: 1px;
				float: left;
				padding-left: $gutter + px;
				padding-right: $gutter + px;
			}
		}
}
@for $i from 1 through $columns {
	.col-#{$i} {
		width: (($width / $columns) * $i) * 1%
	}
}
